* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #da291c;
}

.App-header {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-list {
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-list li {
  padding: 10px 0;
}

.home-list li img {
  height: 250px;
}
